<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoHayDosSinTres - Dar de Baja un Invitado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>Dar de Baja un Invitado</h1>
    </header>
    <form id="formEliminar">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
        <button type="submit">Eliminar</button>
    </form>
    <script src="/js/EliminarUsuario.js" defer></script>
    <br>
        <a href="../../index.html" class="btn btn-secondary">Volver al Índice</a>
</body>
</html>