<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>NoHayDosSinTres - Buscar un Invitado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/busqueda.css">
</head>
<body>
<header>
    <h1>Buscar un Invitado</h1>
</header>

<!-- Formulario para buscar un usuario por ID -->
<form id="formBuscar">
    <label for="idBuscar">ID del Invitado:</label>
    <input type="text" id="idBuscar" name="idBuscar" required>
    <button type="submit">Buscar</button>
</form>

<!-- Resultado de la búsqueda -->
<div id="resultadoBusqueda"></div>

<!-- Enlace al archivo JavaScript -->
<script src="/static/js/ObtenerUsuarios.js" defer></script>

<br>
<a href="../../index.html" class="btn btn-secondary">Volver al Índice</a>
</body>
</html>
