<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoHayDosSinTres - Dar de Atla un Invitado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>Dar de Alta un Invitado</h1>
    </header>
    <script src="../js/RegistrarUsuario.js"></script>
    <form id="formRegistro">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <button type="submit">Registrar</button>
    </form>
    <script src="/js/RegistrarUsuario.js" defer></script>
    <br>
        <a href="index.html" class="btn btn-secondary">Volver al Índice</a>
</body>
</html>