<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoHayDosSinTres - Buscar un Invitado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>Buscar un Invitado</h1>
    </header>
    <button id="btnObtenerUsuarios">Obtener Usuarios</button>
    <div id="listaUsuarios"></div>

    <!-- Enlace al archivo JavaScript -->
    <script src="static/js/obtenerUsuarios.js" defer></script>
    <br>
    <a href="index.html" class="btn btn-secondary">Volver al Índice</a>
</body>
</html>